.contain{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 10px;
    padding-bottom: 10px;
}

.contain form{
    background-image:linear-gradient(to right  , white, white);
    text-align: center;
    margin: 5% auto 15% auto;
    width: 70%;
    height: 95%;
    padding:10px ;
}


 

.h{
	color: #424646;
	margin-left: 20px;
	font-size: 30px;
	margin-top: 0px;
	margin-bottom: 10px;

}
.nn{
background-color: white;
	width: 100%;
	height: 610px;
	margin-top: 10px;
	margin-left: 10px;

}
.par{
    color: #424646;
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 10px;

}
.nn input{
    width: 300px;
    height: 30px;
    border-style: solid;

}
.nn textarea{
	border-style: solid;
	height: 200px;
	width: 500px;
}
#file{
	border-color: white;
	margin-bottom: 20px;
}
#checkbox{
	width: 20px;
	height: 20px;
	font-size: 10px;
	text-align: center;
}
.for{
	width: 200px;
	height: 30px;
	background-color: #CBD4DD;
	padding: 20px 20px;
		font-size: 20px;
		margin-left: 15px;

}
#send{
	margin-top: 20px;
		border-style: solid;
		width: 50px;
		height: 30px;

}
	