* {
    margin: 0;
    padding: 0;
}
body{
        background-color: #CECED7; 

}
.socialMediaIcon {
    width: 70px;
	height: 70px;


}

#socialMediaIcons {
    position: absolute;


}

#socialMediaIcons::after {
    content : "";
    display : black;
    clear : both;
}
#socialMediaHeader {
    background-color: #285DE3;
    position: relative;
    height: 70px;

}
h2{
	margin-left: 75px;
	margin-top: 25px;
		position: absolute;
		color: white;
	font-family: 'Koh Santepheap', cursive;
}
.button1{
    font-size: 20px;
    float: right;
    width: 100px;
    height: 50px;
    margin-top: 10px;
    margin-right: 30px;
    background-color: #3867DE;
    border-radius: 30%;
    color: white;
    font-family: 'Koh Santepheap', cursive;



}
.button1:hover{
    color: #2BC92F;

}
.nav{
    width: 100%;
    height: 650px;
    background-image: url(team.jpeg);
    background-color: #CECED7;
}
 h1{
    color: #67676D;
    font-size: 70px;
    text-align: center;
    width: 80px;
    margin-left: 10px;
                animation: h1 3s steps(22) 1s infinite alternate;

}



@keyframes h1 {
            from {
                width: 0ch;
            }
            to {
                width: 6ch;
            }
        }
       

 .nav input{
    margin-top: 30px;
    margin-left: 550px;
    height: 60px;
    width: 600px;
    background-image: url(search.jpg);
    position: right;
    padding-right: 50px;
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: right;
    border-color: white;
    cursor: pointer;
    border-radius: 15px;
}
::placeholder{
    font-size: 20px;
    margin-left: 80px;
}


.most{
    width: 100%;
    height: 300px;
    background-color: #CECED7;
    margin-top: 40px;

}
h3{

    font-size: 35px;
    text-align: center;
    margin-bottom: 40px;
        font-family: 'Koh Santepheap', cursive;

}
.oo{
    font-size: 20px;
    text-align: center;
    color:#285DE3;
    word-spacing: 5px;
    white-space: 4px;
        font-family: 'Koh Santepheap', cursive;


}
.most a{
            text-decoration: none;

}
a ,.oo:hover{
    text-decoration: underline;
    color: #2BC92F;
}