#h1{
  color: gray;
  text-align: center;
  font-weight: bold;
  font-size: 45px;
  margin: 0;
  margin-bottom: 40px;
}

#image{
  /*transform: skew(-20deg);*/
  background-color: gray;
  margin: 2px 20px;
  text-align: center;
}

.image {
  display: none;
  width: 50%;
  margin: auto;
    
}
.image1{
  
  /*transform: skew(20deg);*/
  padding: 40px 50px;
}

.image1 #h3{
  margin-top: 30px;
  margin-bottom: 0;
}

.image1 p{
  font-size: 17px;
  line-height: 28px;
}

.image2{
  margin-bottom: -55px;
  position: relative;
  z-index: 1;
}
.image2 img{  text-align: center;
  padding: 20%;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 50%;
  width: 500px;
  height: 200px;
}

.rental{
  color:gray;
  font-weight: bold;
  font-size: 20px;
}






.container {

  position: relative;
  background-color: white;
  padding-top: 40px;
  padding-bottom: 40px;
  margin:1;
  height: 400px
  width:70%;
}








.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 55%;
  width: auto;
  padding: 16px;
  color: #232DEC;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev{
  left: 22%;
}
.next {
  right: 22%;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: #7B9BDC;
}







.dot {
  cursor: pointer;
  height: 13px;
  width: 45px;
  margin: 0 2px;
  background-color:gray;
  border-radius: 10px;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #232DEC;
}


.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}
